@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $red;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container {
  margin: auto;
  padding: 1rem;
  max-width: $mobile-width;
}

main {
  header .logo {
    width: 25%;
  }
  .hero-img {
    height: 300px;
    background: url("../images/hero-mobile.jpg") no-repeat top/cover;
  }

  section.hero-description {
    text-align: center;

    h1 {
      letter-spacing: 0.7rem;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1;
      margin: 1rem 0;
      padding: 1rem;

      span {
        color: $grayish-red;
        font-weight: 600;
        display: block;
      }
    }

    p {
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      border: 1px solid;
      border-radius: 2rem;
      color: $red;

      img.icon-error {
        display: none;
        height: 25%;
        align-self: center;
        margin: 0 1rem;
      }

      img.show-error {
        display: block;
      }

      input,
      button {
        border: none;
        height: 2rem;
        padding: 0 1rem;
        margin: 0 1rem;
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        color: $red;
      }

      input[type="text"] {
        color: $red;
        background: hsl(0, 100%, 98%);
        flex-grow: 2;
      }

      button {
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        border-radius: 2rem;
        margin: 0;
      }

      button:focus {
        outline: none;
      }
    }

    form.error {
      border: 2px solid;
      border-color: $soft-red;
    }

    p.added-email {
      margin-top: 1rem;
      opacity: 0;
      transition: opacity 1s ease-in;
      color: $red;
    }

    p.success {
      opacity: 1;
    }
  }
}

.attribution {
  padding: 1rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  body {
    background: url("../images/bg-pattern-desktop.svg") no-repeat center/cover;
  }

  main {
    height: 98vh;
    display: grid;
    grid-template-areas:
      "header img"
      "description img";
    grid-template-columns: repeat(2, 1fr);

    header .logo {
      width: 50%;
      margin-top: 3rem;
      grid-area: header;
    }

    .hero-img {
      background: url("../images/hero-desktop.jpg") no-repeat top/cover;
      height: 100%;
      grid-area: img;
    }

    section.hero-description {
      text-align: start;
      grid-area: description;

      h1 {
        font-size: 4rem;
      }
    }
  }
}
